* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.center-page{
    padding: 0 30px;
}

header {
  background-color: blue;
  color: white;
  padding: 50px;
  text-align: center;
}
header h1 {
  margin-bottom: 20px;
}
h2 {
  color: blue;
  margin: 20px;
}
.section1,
.section2 {
  margin-left: 20px;
  font-size: 20px;
}
.section3 {
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
input {
  width: 100%;
  padding: 10px;
}
textarea {

  width: 100%;
  padding-bottom: 110px;
}
button {
  width: 100%;
  padding: 7px;
  background-color: blue;
  color: white;
  text-align: center;
}
label {
  font-size: 20px;
  margin-left: 20px;
}
footer {
  background-color: black;
  color: grey;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
