* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.center-page{
    padding: 30px 30px;
}

header {
  background-color: dodgerblue;
  color: white;
  padding: 50px;
  text-align: center;
  border-bottom: rgba(255, 255, 240, 0.87) solid 20px;
}
header h1 {
  margin-bottom: 20px;
}
h2 {
  color: dodgerblue;
  margin: 20px 0px;
}
.section1 {
  font-size: 20px;
}
.section2 {
  margin-left: 20px;
  font-size: 20px;
}
.section3 {
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
textarea {

  width: 100%;
  padding-bottom: 110px;
  margin-bottom: 20px;
  margin-top: 10px;
}
button {
  width: 100%;
  padding: 7px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
label {
  font-size: 20px;
   margin-top: 20px;
  margin-bottom: 20px;
  
}
footer {
  background-color: rgb(35, 33, 33);
  color: rgb(214, 212, 212);
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  font-size: 17px;
  border-top: rgba(255, 255, 240, 0.87) solid 24px;
  border-bottom: rgba(255, 255, 240, 0.87) solid 200px;
}
main {
  padding: 20px 20px;
}

